@model int
<!-- Message Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Checkout Complete</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                    <div class="control-group">
                        <span>Thanks for your order! Your order number is: @Model</span>
                    </div>
                    <div class="control-group">
                    <span>How about shopping for some more products in our</span>
                    <a href="/Home/Index">Home</a>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Message End -->
